@model AssetsStore_InterView.ViewModel.AssetDetailViewModel

@{
    ViewData["Title"] = "Edit";
    int counter = 0;
}

<h1 style="text-align:center">Edit Asset</h1>


<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit" id='form'>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
                
            </div>
           <div class="m-2">
               <h4 class="card-title" style="float:left" >Attribute</h4>
               <button type="button" class="btn btn-secondary add" style="float:right" name="add">Add</button>
           </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayName("Name")
                        </th>
                        <th>
                            @Html.DisplayName("Description")
                        </th>
                        <th>operation</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Attributes)
                    {
                        <tr class="AttributeRow">
                            <input type="hidden" name="Attributes[@counter].ID" value="@item.ID">
                            <td>
                                <input asp-for="@item.Name" name="Attributes[@counter].Name" class="form-control" />
                            </td>
                            <td>
                                <input asp-for="@item.Description" name="Attributes[@counter].Description"
                                   class="form-control" />

                            </td>
                            <td>
                                <button type="button" id="remove" name="remove" class="btn btn-danger remove">Delete</button>
                                </td>
                        </tr>
                        counter++;
                    }
                    @{
                        counter--;
                    }
                    <input type="hidden" value="@counter" id="total_Attribute">
                </tbody>
            </table>
            <div class="form-group">
                <a asp-action="Index" class="btn btn-danger">Back to Assets</a>
                <input type="submit" value="Save" class="btn btn-primary" />
              
            </div>
        </form>
    </div>
</div>

<div>
    
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
   
}
