@model AssetsStore_InterView.ViewModel.AssetDetailViewModel

@{
    ViewData["Title"] = "Edit";
    int counter = 0;
}

<h1>Edit</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" id='form'>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <button type="button" id="add" name="add">Add</button>

            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayName("Name")
                        </th>
                        <th>
                            @Html.DisplayName("Description")
                        </th>
                        <th>operation</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Attributes)
                    {
                        <tr class="AttributeRow">
                            <input type="hidden" name="Attributes[@counter].ID" value="@item.ID">
                            <td>
                                <input asp-for="@item.Name" name="Attributes[@counter].Name" class="form-control" />
                            </td>
                            <td>
                                <input asp-for="@item.Description" name="Attributes[@counter].Description"
                                   class="form-control" />

                            </td>
                            <td><button type="button" id="remove" name="remove" class="btn btn-danger remove">Delete</button></td>
                        </tr>
                        counter++;
                    }
                    @{
                        counter--;
                    }
                    <input type="hidden" value="@counter" id="total_Attribute">
                </tbody>
            </table>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $('#add').on('click', add);

       

      


        $('body').on('click', '.remove', function () {
            debugger;
            $(this).parentsUntil('tbody').remove();
            var new_Attribute_no = parseInt($('#total_Attribute').val()) - 1;
            $('#total_Attribute').val(new_Attribute_no);
            reOrdring();
        })

        function add() {
            debugger;
            var new_Attribute_no = parseInt($('#total_Attribute').val()) + 1;
            var new_input = "<tr class='AttributeRow'><td><input value='Name' name='Attributes[" + new_Attribute_no + "].Name' class='form-control valid' type ='text' required></td><td><input value='desciption' name='Attributes[" + new_Attribute_no + "].Description' class='form-control'  required></td><td> <a class='btn btn-danger remove' id='remove'> Delete </a></td ></tr>";

            $('.table tbody').append(new_input);
            $('#total_Attribute').val(new_Attribute_no);
        }

        function reOrdring() {
            $("tr.AttributeRow").each(function (index, row) {
                debugger;
                var RowChildernCollection = row.children;
                var length = Object.keys(RowChildernCollection).length;
                if (length === 0)
                    return;
                if (length === 4) {
                    RowChildernCollection[0].setAttribute('name', 'Attributes[' + index + '].ID');
                    RowChildernCollection[1].children[0].setAttribute('name', 'Attributes[' + index + '].Name');
                    RowChildernCollection[2].children[0].setAttribute('name', 'Attributes[' + index + '].Description');
                }
                else {
                    RowChildernCollection[0].children[0].setAttribute('name', 'Attributes[' + index + '].Name');
                    RowChildernCollection[1].children[0].setAttribute('name', 'Attributes[' + index + '].Description');
                }


            })
        }




    </script>
}
